[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.docformatter]
black = true
recursive = true
in-place = true
wrap-summaries = 120
wrap-descriptions = 120

[tool.mypy]
disallow_untyped_defs = true
implicit_reexport = false
pretty = true
strict = true
warn_no_return = true
warn_redundant_casts = true
warn_return_any = true
warn_unreachable = true
warn_unused_configs = true
warn_unused_ignores = true

[tool.poetry]
name = "pyoda-time"
version = "0.8.0"
description = "An alternative datetime library for Python."
authors = ["Christopher McEvoy <12284065+chrisimcevoy@users.noreply.github.com>"]
license = "Apache-2.0"
readme = "README.md"
homepage = "https://pyodatime.org/"
repository = "https://github.com/chrisimcevoy/pyoda-time"
classifiers = [
    "Development Status :: 2 - Pre-Alpha",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: Apache Software License",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
    "Typing :: Typed",
]
include = [
    "LICENSE.txt",
    "NOTICE.txt",
    "py.typed",
]

[tool.poetry.dependencies]
python = "^3.12"
pyicu = "^2.12"

[tool.poetry.group.dev.dependencies]
pytest = ">=7.4.3,<9.0.0"
pre-commit = "^3.5.0"
coverage = "^7.3.2"
sphinx = ">=7.2.6,<9.0.0"
pytest-xdist = "^3.6.1"
pytest-cov = "^5.0.0"
furo = "^2024.5.6"

[tool.ruff]
line-length = 120

[tool.ruff.lint]
# Allow fix for all enabled rules (when `--fix`) is provided.
fixable = ["ALL"]
unfixable = []

select = [
    "E",    # pycodestyle (error)
    "F",    # pyflakes
    "I",    # isort
    "RUF",  # ruff
    "UP",   # pyupgrade
    "W",    # pycodestyle (warning)
]
