name: test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'

jobs:
  pytest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          enable-cache: true

      - name: Set up Python
        run: uv python install

      - name: Run tests
        run: uv run --frozen pytest --cov . --cov-report xml -n auto

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5.1.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: coverage.xml

  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          enable-cache: true

      - name: Set up Python
        run: uv python install

      - name: Run pre-commit hooks
        run: uv run --frozen pre-commit run -a

  sphinx:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          enable-cache: true

      - name: Set up Python
        run: uv python install

      - name: Generate html docs
        run: make docs.sphinx.html

      - name: Check for unstaged files
        run: |
          if [[ $(git status --porcelain) ]]; then
            echo "Unstaged files detected. Please run `make docs.sphinx.html` and commit the generated files."
            git status --porcelain
            exit 1
          fi
